.mono {
  font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', monospace !important;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}